In [1]:
import os
import pandas as pd

dropbox_path = os.path.abspath("D:/Dropbox/datasets")
onedrive_path = os.path.abspath("D:/OneDrive - Singapore Management University/datasets")

imdb_basics_path = os.path.join(onedrive_path, "imdb", "title.basics.tsv", "data.tsv")

In [2]:
df_imdb_basics = pd.read_csv(imdb_basics_path, sep='\t')
df_imdb_basics.head()

C:\Users\hongtuonie\AppData\Local\Temp\ipykernel_15212\1164816222.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_imdb_basics = pd.read_csv(imdb_basics_path, sep='\t')

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [5]:
all_genres = {}

def myfunc(row):
    genres = str(row['genres']).split(',')
    # print(row['tconst'], row['genres'])
    for g in genres:
        if g not in all_genres:
            all_genres[g] = 1
        else:
            all_genres[g] += 1

# df = df_imdb_basics.apply(myfunc, axis=1)

All genres:

'Documentary': 950087,
'Short': 1106453,
'Animation': 509327,
'Comedy': 2019893,
'Romance': 961696,
'Sport': 238896,
'News': 881322,
'Drama': 2871919,
'Fantasy': 205611,
'Horror': 179970,
'Biography': 108371,
'Music': 388384,
'War': 34148,
'Crime': 415100,
'Western': 30080,
'Family': 738283,
'Adventure': 395747,
'Action': 415522,
'History': 147630,
'Mystery': 201647,
'\\N': 453281,
'Sci-Fi': 109276,
'Musical': 88484,
'Thriller': 168580,
'Film-Noir': 886,
'Talk-Show': 1227545,
'Game-Show': 353647,
'Reality-TV': 558742,
'Adult': 313228,
'nan': 17

Matching with movie_titles:

Documentary 950087
Short 1106453
Animation 509327
Comedy 2019893
Romance 961696
Sport 238896
News 881322
Drama 2871919
Fantasy 205611
Horror 179970
Biography 108371
Music 388384
War 34148
Crime 415100
Western 30080
Family 738283
Adventure 395747
Action 415522
History 147630
Mystery 201647
\N
Sci-Fi 109276
Musical 88484
Thriller 168580
Film-Noir 886
Talk-Show 1227545
Game-Show 353647
Reality-TV 558742
Adult
nan

In [15]:
# df_imdb_basics['startYear'] = pd.to_datetime(df_imdb_basics['startYear'])
# df_imdb_basics.groupby(df_imdb_basics['startYear'].dt.year).sum()

# df_imdb_basics.groupby(df_imdb_basics['startYear']).sum()

In [8]:
all_years = {}
all_str = {}

def myfunc(row):
    year = str(row['startYear'])
    if year.isnumeric():
        if year in all_years:
            all_years[year] += 1
        else:
            all_years[year] = 1
    else:
        if year in all_str:
            all_str[year] += 1
        else:
            all_str[year] = 1
    # if year == '\\N':
    #     print(row['tconst'], row['primaryTitle'])

df = df_imdb_basics.apply(myfunc, axis=1)

In [9]:
all_years

{'1894': 98,
 '1892': 8,
 '1893': 3,
 '1895': 114,
 '1896': 852,
 '1898': 1796,
 '1897': 1356,
 '1900': 1862,
 '1899': 1818,
 '1901': 1769,
 '1902': 1812,
 '1903': 2675,
 '1905': 1707,
 '1904': 1837,
 '1912': 8717,
 '1907': 2488,
 '1906': 1858,
 '1908': 4301,
 '1910': 6418,
 '1909': 5433,
 '1990': 50248,
 '1914': 9366,
 '1911': 7755,
 '1913': 9779,
 '1915': 8587,
 '1919': 4227,
 '1916': 7090,
 '1917': 5677,
 '1918': 4756,
 '1936': 3381,
 '1925': 3479,
 '1920': 4576,
 '1922': 3656,
 '1921': 4278,
 '1923': 3069,
 '1924': 3167,
 '1928': 3586,
 '2019': 428386,
 '2021': 462920,
 '1926': 3468,
 '1927': 3616,
 '1929': 3787,
 '2000': 97599,
 '1993': 57910,
 '1935': 2955,
 '1930': 3293,
 '1942': 2450,
 '1934': 3016,
 '1931': 3406,
 '1932': 3143,
 '1939': 3065,
 '1937': 3610,
 '1933': 2973,
 '1950': 7614,
 '1938': 3430,
 '1951': 9698,
 '1945': 2087,
 '1946': 2647,
 '1940': 2589,
 '1944': 2047,
 '1949': 5266,
 '1947': 3044,
 '1941': 2533,
 '1952': 10672,
 '1970': 33587,
 '1957': 16249,
 '1943': 2229,
 '1959': 17708,
 '1948': 3864,
 '2001': 108017,
 '1994': 62185,
 '1953': 11048,
 '1954': 13543,
 '1965': 29641,
 '1983': 38332,
 '1980': 36195,
 '1973': 34466,
 '1961': 20299,
 '1995': 69838,
 '1955': 14395,
 '1962': 20301,
 '1958': 17277,
 '1956': 14369,
 '1960': 19649,
 '1977': 34175,
 '1964': 25383,
 '2012': 321794,
 '1967': 32383,
 '1968': 30603,
 '1963': 23390,
 '1988': 44417,
 '1986': 41437,
 '2023': 204694,
 '1971': 34739,
 '1969': 34801,
 '1972': 34010,
 '1966': 30385,
 '1976': 33585,
 '1979': 34366,
 '2016': 408516,
 '2020': 404840,
 '1974': 33164,
 '1978': 34135,
 '1981': 34642,
 '1975': 33646,
 '1989': 47378,
 '2014': 366110,
 '1985': 42217,
 '1987': 44989,
 '2010': 252390,
 '2018': 436153,
 '1984': 40490,
 '1992': 53331,
 '1982': 37491,
 '1991': 52288,
 '2022': 423464,
 '1996': 73866,
 '1999': 93551,
 '2005': 157063,
 '2003': 124199,
 '1998': 88265,
 '2002': 111685,
 '1997': 79346,
 '2009': 220537,
 '2004': 142270,
 '2017': 431850,
 '2006': 173620,
 '2013': 345548,
 '2015': 385511,
 '2008': 209061,
 '2007': 193929,
 '2011': 283805,
 '1891': 10,
 '2024': 3393,
 '1888': 5,
 '1890': 6,
 '1889': 2,
 '2025': 290,
 '2029': 7,
 '2026': 107,
 '2027': 28,
 '1878': 3,
 '2030': 10,
 '1877': 4,
 '1882': 2,
 '1881': 2,
 '1887': 45,
 '1884': 1,
 '2028': 1,
 '1874': 1,
 '1883': 1,
 '2031': 1,
 '1885': 1}

In [10]:
all_str

{'\\N': 1352838}

In [11]:
import numpy as np
from scipy.sparse import csr_matrix
a = np.array([[1,2,3], [4,5,6]])
b = csr_matrix(a)

In [14]:
b[:,1].todense()

matrix([[2],
        [5]], dtype=int32)

In [9]:
titles_path = os.path.join(onedrive_path, "netflix-cornac", "movie_titles.csv") # processed IYN dataset: I=item, Y=year, N=name
names = ['item', 'year', 'name']
df_titles = pd.read_csv(titles_path, header=None, names=names)
df_titles.head()

   item  year                          name
0     1  2003               Dinosaur Planet
1     2  2004    Isle of Man TT 2004 Review
2     3  1997                     Character
3     4  1994  Paula Abdul's Get Up & Dance
4     5  2004      The Rise and Fall of ECW

In [11]:
# df_imdb_basics['startYear'] = pd.to_datetime(df_imdb_basics['startYear'])
# index_drop = df_imdb_basics['startYear'].dt.year > 2005
# # df = df_imdb_basics[df_imdb_basics['startYear'].dt.year < 2006]

ParserError: Unknown string format: \N present at position 20

# Download IMDB dataset

this dataset is updated daily

download latest dataset with following link

In [ ]:
# from cornac

import os
from urllib import request

from tqdm.auto import tqdm


def _urlretrieve(url, fpath):
    """Retrieve data from given url

    Parameters
    ----------
    url: str
        The url to the data.

    fpath: str
        The path to file where data is stored.

    """
    opener = request.build_opener()
    opener.addheaders = [("User-agent", "Mozilla/5.0")]

    with tqdm(unit="B", unit_scale=True) as progress:

        def report(chunk, chunksize, total):
            progress.total = total
            progress.update(chunksize)

        request.install_opener(opener)
        request.urlretrieve(url, fpath, reporthook=report)

In [ ]:
# imdb_url = "https://datasets.imdbws.com/"
# imdb_path = os.path.join(onedrive_path, "imdb")

# file_list = ['name.basics.tsv.gz', 'title.akas.tsv.gz', 'title.basics.tsv.gz', 'title.crew.tsv.gz',
#              'title.episode.tsv.gz', 'title.principals.tsv.gz', 'title.ratings.tsv.gz']

# for file_name in file_list:
#     file_url = os.path.join(imdb_url, file_name)
#     file_path = os.path.join(imdb_path, file_name)
#     _urlretrieve(file_url, file_path)